{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h3>Login</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'accounts:login' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input name="username" type="text" class="form-control" id="username" placeholder="Username">
                                {% for error in form.username.errors %}
                                <div class="error">{{error}}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                                {% for error in form.password.errors %}
                                <div class="error">{{error}}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                {{form.captcha}}
                                {% for error in form.captcha.errors %}
                                    <div class="error">{{error}}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Login</button>
                            {% for error in form.non_field_errors %}
                                <div class="error">{{error}}</div>
                            {% endfor %}
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">
                            Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up</a> or <a href="{% url 'reset_password' %}">Forget password</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
</body>
</html>