{% load static %}
<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
			<title>Document</title>
		</head>
		<body>	  
					<!-- End banner Area -->				  
		
					<!-- Start contact-page Area -->
					<section class="contact-page-area section-gap">
						<div class="container">
							<div class="row">
								<div class="col-lg-8 my-5" >
                  <h2>Password reset email sent</h2>
                  <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
                </div>
              </div>
            </div>
		</body>
	</html>