{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h3>signup</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'accounts:signup' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input name="username" type="text" class="form-control" id="username" placeholder="Username">
                                {% for error in form.username.errors %}
                                <div class="error">{{error}}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                                {% for error in form.email.errors %}
                                <div class="error">{{error}}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input name="password1" type="password" class="form-control" id="password" placeholder="Password">
                                {% for error in form.password.errors %}
                                <div class="error">{{error}}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input name="password2" type="password" class="form-control" id="password" placeholder="Repeat Password">
                                {% for error in form.password.errors %}
                                <div class="error">{{error}}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                {{form.captcha}}
                                {% for error in form.captcha.errors %}
                                    <div class="error">{{error}}</div>
                                {% endfor %}
                            </div>
                            <button type="submit" class="btn btn-primary w-100">signup</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">
                            You have an account but <a href="{% url 'reset_password' %}">Forget password</a>?
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
</body>
</html>