{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h3>signup</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'accounts:signup' %}">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-primary w-100">signup</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">Don't have an account? <a href="#">Sign up</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
</body>
</html>