<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
    <h1>This is the contacts page</h1>
    <h3 style="color: red;">Here is some lorem ipsum</h3>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Placerat sociosqu enim iaculis lacinia justo imperdiet. Pharetra blandit aliquet eleifend magnis magnis. Lectus pretium sodales ac dolor lacus nibh nunc senectus elementum. Nunc ante laoreet pharetra tristique sem sagittis scelerisque faucibus. Inceptos venenatis tempus dictumst diam proin aliquam, ipsum dignissim. Venenatis habitant velit tempor curabitur euismod nec.</p>
</body>
</html>