<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1> This is the Home page</h1>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer mollis facilisis mi enim cursus. Taciti per leo ipsum nullam posuere. Dictum curabitur parturient risus parturient adipiscing molestie. Inceptos tempus amet elementum facilisi ad praesent. Ad finibus bibendum quam odio placerat aenean tincidunt. Est mollis orci nostra gravida purus scelerisque. Cras pharetra morbi enim blandit bibendum mattis justo netus. Phasellus nunc natoque integer; ornare dignissim penatibus aptent class. Natoque placerat per convallis dictum fringilla vivamus habitasse malesuada.

        Felis tellus facilisis et metus maecenas curabitur quam dis. Fusce congue nunc tempor vestibulum sollicitudin nullam natoque. Curabitur sollicitudin volutpat ultricies sem est. Congue curabitur massa sodales turpis porttitor. Rhoncus ornare erat auctor; vulputate efficitur aliquam! Est vivamus eu eleifend mollis condimentum gravida venenatis turpis. Facilisi accumsan ac mus ante molestie ut lectus dictum. Ridiculus blandit tellus consectetur aliquet habitant vel aliquam.</p>
</body>
</html>